#infoButton {
    top: 1px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

#shareButton {
    display:none;
}

.source {
    width:30px;
}

#mainForm {
    text-align:center;
    width: 50%;
}

#movieYear {
    color:grey;
    font-weight:lighter;
}

#logo {
    width: 150px;
    margin-bottom: 20px; 
}

#logo:hover {
    cursor:pointer;
}

#poster {
    width: 120px;
    height: 178px;
    float: left;
    margin-right: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-size: cover;
}

#mainbox {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#cardContainer {
    display:none;
    width: 50%;
    margin-bottom: 20px;
}

#errorContainer {
    display:none;
}

#basic-addon1 {
    color:#6B6B6B;
}

#basic-addon1:hover {
    cursor:pointer;
}

.progSource {
    position: absolute;
    margin-top: -1px;
    color: white;
    left: 151;
}

.preProgress {
    height: 1 rem;
    font-size: .75rem;
    border-radius: 0.25 rem;
    width: 100%;
    left: 148px;
}

.progress {
    background-color:#DDE1E6 !important;
    margin-bottom:5px;
}

.progress-bar {
    transition-delay: 250ms !important;
}​

h1 {
    color:black;
}

#message {
    display:none;
}

@media (max-width: 780px) {
#mainForm {
    width:80%;
}
#cardContainer {
    width: 80%;
}
#shareButton {
    display:block;
}
#infoButton {
    top:-4px;
    font-size:30px;
}
}


